:root {
  --light-background-color: #FFF;
  --light-primary-color: #000;
  --light-secondary-color: #107091;
  --light-secondary-color-darker: #114B5F;
  --light-accent-color: #F4D06F;
}

@font-face { /* See https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face and https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Web_fonts */
  font-family: "Bungee Layers Inline";
  src:
    url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Inline.woff2") format("woff2"),
    url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Inline.woff") format("woff"),
    url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Inline.eot") format("embedded-opentype");
}

@font-face {
  font-family: "Bungee Layers Regular";
  src:
    url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Regular.woff2") format("woff2"),
    url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Regular.woff") format("woff"),
    url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Regular.eot") format("embedded-opentype");
}

@font-face {
  font-family: "Bungee Layers Outline";
  src:
    url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Outline.woff2") format("woff2"),
    url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Outline.woff") format("woff"),
    url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Outline.eot") format("embedded-opentype");
}

@font-face {
  font-family: "Bungee Layers Shade";
  src:
    url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Shade.woff2") format("woff2"),
    url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Shade.woff") format("woff"),
    url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Shade.eot") format("embedded-opentype");
}

body {
  background-color: var(--light-background-color);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2.5rem;
  margin: 0rem;
}

header {
  background-color: var(--light-secondary-color);
}

header > .bungee {
  display: grid; /* Thank you stack overflow (https://stackoverflow.com/questions/6780614/css-how-to-position-two-elements-on-top-of-each-other-without-specifying-a-hei) */
  margin: 2.5rem;
}

main {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

section {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

article {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

footer {
  background-color: var(--light-secondary-color);
  color: var(--light-background-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11.25rem, 1fr));
  grid-gap: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 1.75rem;
  border-radius: 1rem;
}

footer > section {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

footer * h3 {
  margin-top: 0rem;
}

a {
  color: var(--light-primary-color);
}

a:visited {
  text-decoration: underline line-through 10%;
}

footer * a {
  color: var(--light-background-color);
}

.bungee {
  font-family: 'Bungee Layers Regular','Bungee', cursive;
  font-weight: 400;
}

.bungee-inline {
  z-index: 4;
  grid-row: 2;
  grid-column: 1;
  font-family: 'Bungee Layers Inline','Bungee Hairline', cursive;
  font-weight: 400; /* see https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight */
  color: var(--light-secondary-color-darker);
  margin: 0rem;
}

.bungee-regular {
  z-index: 3;
  grid-row: 2;
  grid-column: 1;
  font-family: 'Bungee Layers Regular','Bungee', cursive;
  font-weight: 400;
  color: var(--light-accent-color);
  margin: 0rem;
}

.bungee-outline {
  z-index: 2;
  grid-row: 2;
  grid-column: 1;
  font-family: 'Bungee Layers Outline', 'Bungee Outline', cursive;
  font-weight: 400;
  color: var(--light-secondary-color);
  margin: 0rem;
}

.bungee-shade {
  z-index: 1;
  grid-row: 2;
  grid-column: 1;
  font-family: 'Bungee Layers Shade', 'Bungee Shade', cursive;
  font-weight: 400;
  color: var(--light-secondary-color-darker);
  margin: 0rem;
}

h1 {
  font-size: 2.5rem; /* thank you MDN Docs (https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_text/Wrapping_breaking_text) */
  /* overflow-wrap: break-word; */
}

h2 {
  font-family: 'Bungee', cursive;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-family: 'Lexend', Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-family: 'Lexend', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0rem;
  margin-bottom: 0.25rem;
}

p, li {
  font-family: 'Lexend', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

p > strong {
  /* need to also add bold tag here */
  font-weight: 500;
}

#introduction > p {
  font-size: 1.25rem;
  margin-top: 0rem;
}

#subtitle-before {
  grid-row: 1;
  font-family: 'Bungee Spice', cursive;
  font-size: 0.75rem;
  margin: 0rem;
}

#subtitle-after {
  grid-row: 3;
  font-family: 'Bungee Spice', cursive;
  font-size: 0.75rem;
  margin: 0rem;
}

.position-data > p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

ul {
  padding-left: 1.75rem;
}

ul#contact {
  padding-left: 0rem;
}

#contact > li {
  list-style-type: none;
}

#contact > * {
  margin-top: 0rem;
}